@import "latex";
body {
	font-family: "Times New Roman", "游明朝体", "Yu Mincho", "YuMincho", "Noto Serif JP", serif;
	overflow: auto scroll hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

a {
	color: #0044CC;
}

.katex-display {
	overflow: auto hidden;
}

a:visited {
	color: purple;
}

.wiki-link {
	text-decoration: none;
}

$color404: #CC2200;
.wiki-link-404 {
	text-decoration: none;
	color: $color404;
}

.wiki-link-404:visited {
	color: $color404;
}
